.wrapper {
    background-color: var(--background-color);
    min-height:100vh;
}

header {
    width:100%;
    background-image: url("../../../assets/img/logo.png");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.map {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    display: table;
}

.player {
    width:80%;
    margin: auto;
}