<div class="row">
  <div class="col-md-3 col-lg-4 hidden-sm"></div>
  <div class="col-md-3 col-lg-4 middle col-sm-12">
    <app-header></app-header>

    <div id="infoText">⌛ Lädt Video...</div>

    <div class="success" *ngIf="success">
        <i class="fas fa-check-circle"></i>
    </div>


    <div class="scanner">
        <video id="video" autoplay="true" style="display:none;"></video>
        <canvas id="canvas" class="video"></canvas>
    </div>


    
   
    <!--
    <zxing-scanner class="scanner" (scanSuccess)="scanCompleted($event)"
      (camerasNotFound)="camerasNotFoundHandler($event)" (scanError)="errorHandler($event)"
      (camerasFound)="camerasFoundHandler($event)" (camerasNotFound)="camerasNotFoundHandler($event)" id="scanner">
    </zxing-scanner>-->
    <app-nav-back></app-nav-back>

    
  </div>
  <div class="col-md-3 col-lg-4 hidden-sm"></div>
</div>
