.footer {
    min-width:100%;
    background-color: var(--background-color);
    color: #CFD0D1;
    text-align: center;
    padding-top: 4vh;
    padding-bottom:4vh;
    border-top: 1px solid #CFD0D1;
    cursor: pointer;
    position:absolute;
    bottom:0px;
    font-size:21px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.arrow {
    font-size: 21px;
    margin-right:3px;
}

/*
@media screen and (max-width: 767px) {
    .footer {
        font-size: 3vh;
    }

    .arrow {
        font-size: 3vh;
        margin-right:5px;
    }
}

*/