.footer {
    min-width:100%;
    background-color: var(--background-color);
    color: #CFD0D1;
    text-align: center;
    padding-top: 4vh;
    padding-bottom:4vh;
    border-top: 1px solid #CFD0D1;
    cursor: pointer;
    position:relative;
    font-size:2vw;
}

@media screen and (max-width: 767px) {
    .footer {
        font-size: 8vw;
    }
}