.wrapper {
    background-color: white;
    height:100px;
}

.code-input {
    height:10vh;
    width:20vh;
    font-size: 8vh;
    text-align: center;
}

.indicator {
    margin-left:3vh;
    vertical-align: middle;
}