.wrapper {
    background-color: black;
    color:white;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.details {
    text-decoration: none;
    list-style: none;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: blue; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: skyblue;  /*replace with your color*/
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: white;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: white;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: white;
} 

.person {
    border-top: 1px solid white;
    font-size: 3vh;
    font-weight: lighter;
}
.name {
    font-size: 5vh;
    font-weight: normal;
}

.space {
    margin-bottom: 5vh;
}

.small {
    font-size:2.5vh;
    font-weight: normal;
    padding: 0;
    margin-bottom:0.8vh;
}