.wrapper {
    background-color: var(--background-color);
    color:white;
    width:100%;
    padding:0;
    margin:0;
    min-height: 100vh;
}

.details {
    text-decoration: none;
    list-style: none;
}

.person {
    border-top: 1px solid white;
    font-size: 3vh;
    font-weight: lighter;
    padding-top: 5vh;
    min-height:45vh;
}
.name {
    font-size: min(5vw, 55px);
    font-weight: normal;
}

.space {
    margin-bottom: 5vh;
}

.small {
    font-size:2.5vh;
    font-weight: normal;
    padding: 0;
    margin-bottom:1vh;
    line-height:normal;
}

.player {
    width:80%;
    margin: auto;
    margin-bottom:5vh;
    margin-top:-5vh;
}
.text {
    line-height: normal;
}


.middle {
    //border: 1px solid #CFD0D1;
   // border-style: inset;
    padding: 0 !important;
    -webkit-box-shadow: 6px 10px 64px -18px black;
    -moz-box-shadow: 6px 10px 64px -18px black;
    box-shadow: 6px 10px 64px -18px black;
    z-index: 10;
    min-height:100vh;
  }

  @media screen and (max-width: 540px) {
    .middle {
        box-shadow: none !important;
    }
}