<div class="wrapper">
  <div class="row">
    <div class="col-md-3 col-lg-4 hidden-sm"></div>
    <div class="col-md-6 col-lg-4 middle col-sm-12">
      <app-header></app-header>
      <div *ngIf="locked && loaded">
        <app-locked></app-locked>
      </div>

      <div *ngIf="!locked">
        <div class="player">
          <app-player [filename]="marker.filename"></app-player>
        </div>
        <div class="person">
          <ul class="details">
            <p class="small">gesprochen von </p>
            <li>
              <p class="name"> {{ marker.speaker.getName() }}</p>
            </li>
            <p class="space"></p>

            <div class="text">
              <li>Beruf: {{ marker.speaker.profession }} </li>
              <li>Funktion: {{ marker.speaker.action }}</li>
              <li>Alter damals: {{ marker.speaker.age }}</li>
            </div>
          </ul>
        </div>
      </div>
      <app-nav-back></app-nav-back>
    </div>

    <div class="col-md-3 col-lg-4 hidden-sm-down"></div>
  </div>
