<div class="wrapper" [style.height.px]="height" [style.width.px]="width">
    <a routerLink="/" routerLinkActive="active"> <fa-icon 
        [icon]="backIcon" size="2x" [styles]="{'stroke': 'white', 'color': 'white'}"> Zurück</fa-icon></a>

    <mat-basic-audio-player [audioUrl]="filename" [title]="filename" [autoPlay]="false"
         [displayVolumeControls]="true" class="player"></mat-basic-audio-player>

    
    <ul class="details">
        <li><p> Name: Schmid Pius</p></li>
        <li>Funktion: Lehrer</li>
        <li>Alter damals: 44</li>
    </ul>
</div>

