<div class="background" #mapContent (scroll)="onResize($event)" (click)="setMarker($event)">

    <img src="../../../assets/img/map.png" class="img-fluid map" id="map" />
</div>

<div [class]="marker.unlocked ? 'marker-unlocked' : 'marker'" *ngFor="let marker of markerService.getMarkers()" 
    [style.left]="marker.left" [style.top]="marker.top"
    [style.color]="marker.unlocked ? '#E4D16A' : ''"
    (click)="onClickMarker(marker.id)">
</div>

<i (click)="showInfo()" class="fas fa-info-circle info" id="info" ></i>
<i (click)="showScanner()" class="fas fa-qrcode scanner" id="scanner"></i>



<div (window:resize)="onResize($event)"></div>

<div id="loading">
    <mat-spinner class="spinner"></mat-spinner>
</div>